In [25]:
# 1. String (5 Questions)
def is_palindrome(s):
    return s == s[::-1]

# Example usage
word = "madam"
print(is_palindrome(word))  # Output: True

True

In [ ]:
# 2. Count the number of vowels in a string and store the result in a dictionary.
def count_vowels(s):
    vowels="aeiou"
    result = {v: 0 for v in vowels}

    for char in s.lower():
        if char in result:
            result[char] += 1

    return result

# Example usage
text = "Hello, World!"
vowel_counts = count_vowels(text)
print(vowel_counts)

{'a': 0, 'e': 1, 'i': 0, 'o': 2, 'u': 0}

In [ ]:
#  3. Convert the first letter of each word in a string to uppercase (title case manually).
def to_title_case(s):
    words = s.split()
    title_cased = [word[0].upper() + word[1:].lower() if word else '' for word in words]
    return ' '.join(title_cased)

# Example usage
text = "hello world! this is python."
converted = to_title_case(text)
print(converted)

Hello World! This Is Python.

In [ ]:
#  4. Find the most frequently occurring character in a string.
from collections import Counter

def most_frequent_char(s):
    # Filter out spaces if you want to ignore them
    filtered = [c for c in s if not c.isspace()]
    counts = Counter(filtered)

    if counts:
        most_common = counts.most_common(1)[0]
        return most_common[0], most_common[1]
    else:
        return None, 0

# Example usage
text = "hello world"
char, freq = most_frequent_char(text)
print(f"The most frequent character is '{char}' with {freq} occurrences.")

The most frequent character is 'l' with 3 occurrences.

In [ ]:
# 5. Count digits, alphabets, and special characters separately in a string.
def count_char_types(s):
    counts = {
        'alphabets': 0,
        'digits': 0,
        'special_characters': 0
    }

    for char in s:
        if char.isalpha():
            counts['alphabets'] += 1
        elif char.isdigit():
            counts['digits'] += 1
        else:
            counts['special_characters'] += 1

    return counts

# Example usage
text = "Hello @2025!"
result = count_char_types(text)
print(result)

{'alphabets': 5, 'digits': 4, 'special_characters': 3}

In [ ]:
# 2. List (5 Questions)
# 6. Remove duplicate elements from a list without using set().
def remove_duplicates(lst):
    unique = []
    for item in lst:
        if item not in unique:
            unique.append(item)
    return unique

# Example usage
data = [1, 2, 2, 3, 4, 4, 5, 1]
cleaned = remove_duplicates(data)
print(cleaned)

[1, 2, 3, 4, 5]

In [ ]:
# 8. Find the 2nd largest and 2nd smallest element in a list.
def find_second_largest_smallest(lst):
    if len(lst) < 2:
        return None, None  # Not enough elements

    largest = second_largest = float('-inf')
    smallest = second_smallest = float('inf')

    for num in lst:
        # Update largest and second largest
        if num > largest:
            second_largest = largest
            largest = num
        elif largest > num > second_largest:
            second_largest = num

        # Update smallest and second smallest
        if num < smallest:
            second_smallest = smallest
            smallest = num
        elif smallest < num < second_smallest:
            second_smallest = num

    # Handle cases where second values weren't updated
    if second_largest == float('-inf'):
        second_largest = None
    if second_smallest == float('inf'):
        second_smallest = None

    return second_smallest, second_largest

# Example usage
data = [5, 3, 9, 1, 9, 3, 7]
second_smallest, second_largest = find_second_largest_smallest(data)
print(f"2nd Smallest: {second_smallest}, 2nd Largest: {second_largest}")

2nd Smallest: 3, 2nd Largest: 7

In [ ]:
# 10. Flatten a nested list into a single list.
list1=[[1,2],[2,4],[3,6]]
list2=[]
for i in list1:
    for j in i:
      list2.append(j)
print(list2)

[1, 2, 2, 4, 3, 6]

In [ ]:
# 7. Reverse a list without using built-in functions.
list2=[1,2,3,4,5]
list2=list2[::-1]
print(list2)

[5, 4, 3, 2, 1]

In [ ]:
# 9. Store the square of each element of a list into a new list (using list comprehension).
list1=[1,2,3,4,5]
list2=[i*i for i in list1]
print(list2)

[1, 4, 9, 16, 25]

In [ ]:
# 3. Tuple (5 Questions)
# 11. Reverse a tuple without using [::-1].
tuple1=(1,"python",12,14,2.5)
list1=list(tuple1)
list1.reverse()
tuple2=tuple(list1)
print(tuple2)

(2.5, 14, 12, 'python', 1)

In [3]:
# 12. Extract unique elements from a tuple and store them in a new list.
a=(1,2,2,3,4,3,5,6,5,7)
b=set(a)
c=list(b)
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [6]:
# 13. Concatenate two tuples and sort them.
tuple1=(1,2,3,10,8,6,7)
tuple2=(4,5,3,2,2)
tuple3=tuple1+tuple2
print(tuple3)
a=sorted(tuple3)
print(a)

(1, 2, 3, 10, 8, 6, 7, 4, 5, 3, 2, 2)
[1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 10]

In [8]:
# 14. Count the frequency of an element in a tuple without using count().
tuple1=(1,2,4,5,4,23,47,78,2,1,4,6,8,9,4,11)
target=4
frequency=0
for i in tuple1:
  if i== target:
    frequency+=1
print(f"The element {target} appears {frequency} times.")

The element 4 appears 4 times.

In [10]:
# 15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers.
tuple1=(1,2,4,5,7,8,9,5,6,4,7,10,11,5)
even_list = []
odd_list = []

for i in tuple1:
  if i % 2 == 0:
    even_list.append(i)
  else:
    odd_list.append(i)

tuple2 = tuple(even_list)
tuple3 = tuple(odd_list)

print("Even numbers tuple:", tuple2)
print("Odd numbers tuple:", tuple3)

Even numbers tuple: (2, 4, 8, 6, 4, 10)
Odd numbers tuple: (1, 5, 7, 9, 5, 7, 11, 5)

In [12]:
# 4. Set (5 Questions)
 # 16. Perform union, intersection, and difference of two sets without using built-in operators.
set1={1,2,4,6,7}
set2={3,4,6,8,9,10}
union_result = set()

# Add all elements from set1
for item in set1:
    union_result.add(item)

# Add elements from set2 if not already in union_result
for item in set2:
    if item not in union_result:
        union_result.add(item)

print("Union:", union_result)
intersection_result = set()

for item in set1:
    if item in set2:
        intersection_result.add(item)

print("Intersection:", intersection_result)
difference_result = set()

for item in set1:
    if item not in set2:
        difference_result.add(item)

print("Difference (set1 - set2):", difference_result)

Union: {1, 2, 3, 4, 6, 7, 8, 9, 10}
Intersection: {4, 6}
Difference (set1 - set2): {1, 2, 7}

In [14]:
# 17. Remove a random element from a set (without using pop()).

import random

# Original set
my_set = {10, 20, 30, 40, 50}

# Convert to list to pick a random element
temp_list = list(my_set)
random_element = random.choice(temp_list)

# Remove the chosen element from the set
my_set.remove(random_element)

# Output the result
print(f"Removed element: {random_element}")
print(f"Updated set: {my_set}")

Removed element: 20
Updated set: {50, 40, 10, 30}

In [15]:
# 18. Convert a list into a set and check if duplicates are removed.
list1=[1,2,4,5,4,3,4,3]
set1=set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [16]:
# 19. Check if two sets are disjoint.
# Define two sets
set_a = {1, 2, 3}
set_b = {4, 5, 6}

# Check if they are disjoint
are_disjoint = set_a.isdisjoint(set_b)

# Print result
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

In [17]:
# 20. Find the sum of all elements in a set.
# Define a set of numbers
my_set = {5, 10, 15, 20}

# Calculate the sum
total = sum(my_set)

# Print the result
print("Sum of all elements:", total)

Sum of all elements: 50

In [20]:
# 5. Dictionary (5 Questions)
# 21. Create a dictionary and print keys in ascending order.
dict1={'c':1, 'b':2, 'a':3}
keys=(dict1.keys())
keys=sorted(keys)
print(keys)

['a', 'b', 'c']

In [21]:
# 22. Add a new key to a dictionary with value equal to the sum of existing values.
dict1['d']=dict1['a']+dict1['b']+dict1['c']
print(dict1)

{'c': 1, 'b': 2, 'a': 3, 'd': 6}

In [22]:
# 23. Merge two dictionaries into one.
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [23]:
# 24. Find the key with the largest value in a dictionary.
my_dict = {'a': 10, 'b': 25, 'c': 7, 'd': 42}

max_key = max(my_dict, key=my_dict.get)
print("Key with the largest value:", max_key)

Key with the largest value: d

In [24]:
# 25. Store the frequency of characters of a string in a dictionary.

from collections import Counter

input_str = "hello world"
char_freq = Counter(input_str)

print(char_freq)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})